* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f3f6;
}

body a {
  text-decoration: none;
  color: inherit;
}

body header {
  display: flex;
  justify-content: space-between;
  padding: 4em 0;
}

body header button {
  padding: 0.7em 1.5em;
  color: white;
  border: none;
  border-radius: 30px;
  background-color: Dodgerblue;
}

body .container {
  width: 60%;
  margin: 0 auto;
}

body .container .employee {
  margin-bottom: 2em;
}

body .container .employee .emp-info {
  margin-bottom: 1em;
}

body .container .employee .emp-info h3 {
  font-size: 30px;
  color: Dodgerblue;
}

body .container .employee .emp-info p {
  font-size: 13px;
}

body .container .employee .emp-info p span {
  font-weight: 600;
}

body .container .employee .tasks .task-info {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0 0.3em;
  border-bottom: 0.5px solid lightgrey;
}

body .container .employee .tasks .task-info:not(:last-child) {
  margin-bottom: 0.5em;
}

body .container .employee .tasks .task-info:hover {
  background-color: rgba(211, 211, 211, 0.2);
}

body .container .employee .tasks .task-info p span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 1.5em;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 3px;
  background-color: Turquoise;
}

body .container .employee .tasks .task-info .opt {
  font-size: 14px;
  color: dodgerblue;
}

body .container .employee .tasks .task-info .opt a:last-child {
  margin-left: 1em;
}

